// =====================================
//
//   Taking Care - Chapter
//
// =====================================

// -------------------------------------
//   Base
// -------------------------------------

.marquee-main.chapter-cover {
  .cover-image-frame {
    position: relative;
    z-index: 1;
  }
  
  .cover-image-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    @include opacity(48);
    background: $black;
  }

  .cover-image-title {
    position: absolute;
    z-index: 3;
    width: 100%;
    top: 50%;
    height: em(100px);
    margin-top: em(-50px);
    text-align: center;
  }
}