// =====================================
//
//   TC Global Elements
//
// =====================================

// -------------------------------------
//   Variables
// -------------------------------------

$logoIcoHeight: em(26px);
$marqueeMaxHeight: em(512px);

// -------------------------------------
//   Global
// -------------------------------------

// ----- Header ----- //

.header-bar {

  // fixed at top of the page
  width: 100%;
  top: 0;
  left: 0;

  .overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include opacity(24);
  }

  .logo.home-link, .header-bar-block {
    min-height: $logoIcoHeight;
    line-height: $logoIcoHeight;
  }

  .home-link {
    letter-spacing: 0.5px;
  }
}

// ----- Modules ----- //

.text-col {
  max-width: em(540px);
  padding: 0 $b-space-4;
  margin: 0 auto;
}

.fit-frame {
  height: auto;
  max-height: $marqueeMaxHeight;
  overflow: hidden; 

  .fit {
    display: block;
  }
  
  // at breakpoint $g-s, switch to fit-h
  @media (min-width: $g-m) {
    height: $marqueeMaxHeight;

    .s--fith {
      height: 100%;
      width: auto;
      margin: 0 auto;
    }
  }
}