// =====================================
//
//   TC Global Elements
//
// =====================================

// -------------------------------------
//   Variables
// -------------------------------------

$logoIcoHeight: em(27px);
$logoIcoWidth: em(28px);
$marqueeMaxHeight: em(512px);

// -------------------------------------
//   Global
// -------------------------------------

// ----- Ico ~ Swallow ----- //

.ico-swallow {
  width: $logoIcoWidth;
  height: $logoIcoHeight;
  background: url('../images/sprite-ico-swallow.svg') $clear no-repeat top center;
  background-size: em(28px) auto;
}


// ----- Header ----- //

.header-bar {
  color: $blueGrey0;
  position: fixed;
  z-index: 3;
  width: 100%;
  top: 0;
  left: 0;
  
  .overlay {
    position: absolute;
    z-index: 1;
    background: $blueGrey0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include opacity(0);
    transition: opacity 600ms ease 300ms;
  }

  .logo.home-link, .header-bar-block {
    height: $logoIcoHeight;
    line-height: $logoIcoHeight;
  }

  // home link
  .home-link {
    color: $white;
    letter-spacing: em(0.5px);
    transition: all 0.3s ease;

    // taking care
    .home-label {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
      font-size: $b-fontSize-s;
    }
  }
  
  // menu button
  .menu-btn {
    @extend .px-2;
    display: inline-block;
    font-size: $b-fontSize-s;
    font-family: $b-sans-fontFamily;
    font-weight: 300;
    line-height: em(28px, 14px);
    vertical-align: middle;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: $b-borderRad-1;
    border: $b-borderWidth-xs solid $clear;
    transition: all 0.3s ease;

    &:focus, &:hover {
      border-color: $white;  
    }
  }
}

.header-spacing {
  height: 0;
}

// ----- Modules ----- //

.date {
  display: block;
  color: $blueGrey0;
  font-family: $b-sans-fontFamily;
  font-size: $b-fontSize-s;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px; 
}

.text-col {
  max-width: em(640px);
  padding: 0 $b-space-4;
  margin: 0 auto;
}

// marquee image frame
.marquee-main {
  display: table;
  width: 100%;
  position: relative;
  height: 100vh;

  .slide-frame {
    width: 100vw;
  }

  .image-window {
    width: 100%; 
    min-height: em(240px);
    height: 100vh;
    text-align: center;
    overflow: hidden;
    background: $black no-repeat center center;
    background-size: cover;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    @include opacity(0);
    transition: opacity 1s ease;

    &.current {
      z-index: 3;
      @include opacity(100);
    }

    // TODO: make JSON for SLIDES
    &.slide-1 {
      background-image: url(../images/slideshow/mom-breakaway-open-sea.jpg);
    }

    &.slide-2 {
      background-image: url(../images/slideshow/memoriam-1-mom-solo-red-dress.jpg);
    }

    &.slide-3 {
      background-image: url(../images/slideshow/memoriam-2-mom-dad-wedding.jpg);
    }

    &.slide-4 {
      background-image: url(../images/slideshow/gong-gong-pwo-pwo-mom-1949.jpg);
    }
  }
}

// site title
.marquee-main {
  .title-block {
    width: 100%;
    bottom: 0;
    text-align: right;
    color: white;
    padding: em(10px);
    // type
    .site-title {
      font-weight: 300;
    }

    .site-description {
      font-size: $b-fontSize-s;
      font-weight: 400;
    }
  }

  // controls
  .slideshow {
    .slide-frame {
      position: relative;
      z-index: 1;
    }
  } 

  .slide-control-btn {
    display: block;
    width: em(40px, 24px);
    height: em(40px, 24px);
    border-radius: 50%;
    text-align: center;
    font-size: $b-fontSize-xl;
    line-height: em(40px, 24px);
    border: $b-borderWidth-xs solid $clear;
    transition: background-color 0.3s ease;
    position: absolute;
    z-index: 3;

    &.slide-refresh-btn {
      background-color: rgba(141, 165, 179, 0.36);
      position: absolute;
      z-index: 3;
      bottom: 0;
      left: 0;
      margin: $b-space-2;
    }

    &.scroll-to-content-btn {
        width: em(48px, 24px);
        height: em(48px, 24px);
        line-height: em(48px, 24px);
        background-color: rgba(255, 255, 255, 0);
        top: 100%;
        margin-top: em(-58px, 24px); // 48+10
        left: 50%;
        margin-left: em(-24px, 24px); // 48/2
        -webkit-animation: bounce 4s 2s infinite;
        animation: bounce 4s 2s infinite;

        &:hover, &:focus {
        -webkit-animation: none;
        animation: bounce none;   
      }
    }

    &:focus, &:hover {
      background-color: rgba(255, 255, 255, 0.36);
    }
  }  
}


// -------------------------------------
//   Global Navigation
// -------------------------------------

.site-nav {
  @extend .list-reset;
}


// -------------------------------------
//  Section Components
// -------------------------------------

// TODO: this will probably change
.section-header {

  .section-title {
    display: inline-block;
    letter-spacing: 1px;
    vertical-align: bottom;
    font-weight: 700;
  }

  @media (min-width: $g-m) {
    line-height: em(36px);  
  }
}

.section-actions {
  font-family: $b-sans-fontFamily;
  font-size: $b-fontSize-s;
  color: $blueGrey0;

  a, span {
    display: inline-block;
    line-height: normal;
    vertical-align: bottom;
  }

  .h-divider {
    display: inline-block;
    margin: 0 em(10px);
    color: $grey3;
  }
}

// -------------------------------------
//  Tiles
// -------------------------------------

$tileW: 280px;
$tileH: 340px;
$tileImgW: 260px;
$tileImgH: 260px;

$m--tileW: 320px;
$m--tileH: 380px;
$m--tileImgW: 300px;
$m--tileImgH: 300px;


.tile-set {
  @extend .cf;
  text-align: center;

  .tile {
    @extend .pa-2;
    @extend .va-t;
    display: inline-block;
    width: em($tileW);
    height: em($tileH);
    margin: 0 auto em(20px);

    @media (min-width: $g-m) {
      width: em($m--tileW);
      height: em($m--tileH);

      &:nth-child(3n+2) {
        margin: 0 2% em(20px);
      }
    }
  }
}

// chapter links
.tile {
  text-decoration: none;
  // img
  .window-frame {
    width: 100%;
    height: em($tileImgH);
    overflow: hidden;
    
    img { 
      position: relative;
      z-index: 1; 
    }

    .tile-overlay {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $blueGrey0;
      @include opacity(72);
      transition: opacity 0.3s ease;
    }

    @media (min-width: $g-m) {
      width: 100%;
      height: em($m--tileImgH);    
    }
  }

  // info
  .tile-info {
    .meta {
      display: inline-block;
      color: $blueGrey0;
      font-family: $b-sans-fontFamily;
      font-size: $b-fontSize-s;
      font-weight: 300;
    }

    .tile-time {
      width: em(100px, 14px);
      text-align: left;
      float: left;
    }

    .tile-location {
      width: em(154px, 14px);
      text-align: right;
      float: right;
    }

    .tile-title {
      color: $grey5;
      text-align: left;
      transition: color 0.3s ease;
    }
  }
}

// tile:hover
.tile:hover {
  .window-frame .tile-overlay {
    @include opacity(0);
  }

  .tile-info .tile-title {
    color: $blue0;
  }
}

// -------------------------------------
//  Stories - Feed
// -------------------------------------

.story-item {

  @media (min-width: $g-s) {
   width: 47.5%;
   float: left;
   margin-bottom: em(20px);

   &:nth-child(2n+1) {
    margin-right: 5%;
  } 
}

.story-author {
  text-align: center;

  .author-tn.tn-round {
    @extend .mx-auto;
    width: em(128px);
    height: em(128px);
    border-radius: 50%;  
    overflow: hidden;
  }

  .author-name {
    font-family: $b-sans-fontFamily;
    font-weight: 700;
  }
}

}


// -------------------------------------
//  Footer
// -------------------------------------

.footer {
  background: $navy0;
}

.footer-content {
  @extend .c-white;

}


// -------------------------------------
//   Media Queries
// -------------------------------------

// ----- MQ - < 959px ----- //

@media (max-width: $g-m) {
  // HOME 
  .marquee-main, .marquee-main .image-window {
    height: 60vh;
  }
}


// ----- MQ - < 480px ----- //
@media (max-width: $g-xs) {
  // HOME 
  .marquee-main, .marquee-main .image-window {
    height: 40vh;
  }
}


/* ==========================================================================
   Animations
   ========================================================================== */

 @-webkit-keyframes bounce {
  0%, 10%, 25%, 40%, 50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@keyframes bounce {
  0%, 10%, 25%, 40%, 50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

